@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

*{
    font-family: 'Roboto';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
 }

 body{
    background-color: #ffffff;
 }

 section{
    padding:30px 25px;
 }

 .title{
    text-align: center;
    margin:20px;
    text-transform: uppercase;
    color:#000000;
    font-size: 30px;
 }

 .empty{
    padding:12px;
    text-align: center;
    border:1px solid #000000;
    background-color: #ffffff;
    color:#ff0000;
    font-size: 15px;
 }
 
 .message{
    position: sticky;
    top:0;
    margin:0 auto;
    max-width: 1200px;
    background-color: #ebfaeb;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap:12px;
 }

.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: #ffffff;
    border-bottom:3px solid #000000;
    /* box-shadow: 0 5px 20px 1px #000000; */
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin:0 auto;
 }
  
 .header .flex .logo{
    font-size: 40px;
    color:#000000;
    text-decoration:none;
 }

 .header .flex .navbar a{
    margin:0 10px;
    font-size: 22px;
    color:#000000;
    text-decoration:none;
 }
 
 .header .flex .navbar a:hover{
    color:#7fa047;
    text-decoration: underline;
 }
 
 .header .flex .icons div{
    margin-left: 10px;
    font-size: 22px;
    cursor: pointer;
    color:#000000;
 }
 
 .header .flex .icons div:hover{
    color:#7fa047;
 }

 .header .flex .icons #user-btn{
   font-size:30px;
 }
 
 .header .flex .account-box{
    position: absolute;
    top:120%; right:15px;
    width: 250px;
    box-shadow: 0 8px 15px #000000;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    border-radius: 5px;
    border:1px solid #000000;
    background-color: #ffffff;
    display: none;
    animation:fadeIn .2s linear;
 }
 
 .header .flex .account-box.active{
    display: inline-block;
 }
 
 .header .flex .account-box p{
    font-size: 20px;
    color:#000000;
    margin-bottom: 15px;
 }
 

 .header .flex .account-box .delete-btn{
    margin-top: 0;
 }
 
 .header .flex .account-box div{
    margin-top: 15px;
    font-size: 15px;
    color:#000000;
 }
 
 .header .flex .account-box div a{
    color:	 #2a3517;
    text-decoration: none;
 }
 
 .header .flex .account-box div a:hover{
    text-decoration: underline;
 }

 #menu-btn{
    display: none;
 }

.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 10px;
   padding:10px 20px;
   cursor: pointer;
   color:#ebfaeb;
   font-size: 18px;
   border-radius: 8px;
   text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: #000000;
}

.white-btn,
.btn{
   background-color: #7fa047;
}

.option-btn{
   background-color: #7fa047;
}

.delete-btn{
   background-color: #ff0000;
}

.white-btn:hover{
   background-color: #ffffff;
   color:#000000;
}

@keyframes fadeIn {
    0%{
       transform: translateY(15px);
       opacity: .2s;
    }
 }

 .add-foods a{
    padding:10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 8px 15px #000000;
    border:1px solid #000000;
    display: block;
    width:20%;
    margin:auto;
    left:50%;
 }
 
 .add-foods form{
    background-color: #ffffff;
    border-radius:0 30px;
    padding:30px;
    text-align: center;
    box-shadow: 0 8px 15px #000000;
    border:1px solid #000000;
    max-width: 600px;
    margin:0 auto;
 }
 
 .add-foods form h3{
    font-size: 30px;
    text-transform: uppercase;
    color:#000000;
    margin-bottom: 20px;
 }
 
.add-foods form .box{
    width: 100%;
    background-color: #ebfaeb;
    border-radius: 8px;
    margin:15px 0;
    padding:15px 12px;
    color:#000000;
    font-size: 20px;
    border:1px solid #000000;
}
.add-foods form .lbl{
   width: 100%;
   display: block;
   background-color: #ebfaeb;
   border:1px solid #000000;
   border-radius: 8px;
   text-align: left;
   font-size:20px;
   margin:15px 0;
   padding:15px 12px;
}
.add-foods form .rdo{
   margin:0 15px;
   height:20px;
   width:20px;
   color: #7fa047;
}

h1{
    color:#ffffff;
}

.show-products{
    padding-top: 0; 
}
.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap:20px;
    max-width: 1200px;
    margin:0 auto;
    align-items: flex-start;
}
 
 .show-products .box-container .box{
    text-align: center;
    padding:15px;
    border-radius: 12px;
    border:1px solid #000000;
    box-shadow: 0 8px 15px #000000;
    background-color: #ffffff;
 }
 
 .show-products .box-container .box img{
    height: 200px;
    width: 100%;
 }
 
 .show-products .box-container .box .name{
    padding:10px 0;
    font-size: 18px;
    color:#000000;
    font-weight: bold;
 }
 
.show-products .box-container .box .price{
    padding:10px 0;
    font-size: 20px;
    color:#ff0000;
}

.edit-product-form{
    max-height: 750px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    overflow-y: scroll;
    position: fixed;
    top:0; left:0; 
    z-index: 1200;
    width: 100%;
}
 
.edit-product-form form{
    width: 500px;
    padding:30px;
    text-align: center;
    border-radius: 6px;
    background-color: #ffffff;
}
 
.edit-product-form form img{
    height: 200px;
    margin-bottom: 10px;
 }
 
 .edit-product-form form .box{
    margin:10px 0;
    padding:10px 15px;
    border:1px solid #000000;
    border-radius: 6px;
    background-color: #ebfaeb;
    font-size: 20px;
    color:#000000;
    width: 100%;
 }

 .edit-product-form form .lbl{
   width: 100%;
   display: block;
   background-color: #ebfaeb;
   border:1px solid #000000;
   border-radius: 8px;
   text-align: left;
   font-size:20px;
   margin:15px 0;
   padding:15px 12px;
}

.edit-product-form form .rdo{
   margin:0 15px;
   height:20px;
   width:20px;
   color: #7fa047;
}

/* dasboard css */
.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap:30px;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.dashboard .box-container .box{
   border-radius: 6px;
   padding:15px;
   background-color: #ffffff;
   box-shadow: 0 8px 15px #000000;
   border:1px solid #000000;
   text-align: center;
}

.dashboard .box-container .box h3{
   font-size: 40px;
   color:#000000; 
}

.dashboard .box-container .box p{
   margin-top: 12px;
   padding:12px;
   background-color: rgb(45, 155, 43)
   ;
   color:#ffffff;
   font-size: 20px;
   border-radius: 6px;
   border:1px solid #000000;
}

.dashboard .title{
    color:#000000;
}

.orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content: center;
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.orders .box-container .box{
   background-color: #ffffff;
   padding:2rem;
   border:1px solid #000000;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.orders .box-container .box p{
   padding-bottom: 10px;
   font-size: 20px;
   color:#ebfaeb;
}

.orders .box-container .box p span{
   color:#7fa047;
}

.orders .box-container .box form{
   text-align: center;
}

.orders .box-container .box form select{
   border-radius: 5px;
   margin:5px 0;
   width: 100%;
   background-color: #ebfaeb;
   border:1px solid #000000;
   padding:14px 16px;
   font-size: 18px;
   color:#000000;
}

.order-btn{
    background-color: #0984e3;
    padding:5px 10px; 
    border-radius: 6px;
}


 table, tr ,th,  td{
    border:1px solid #000000;
    border-collapse: collapse;
    text-align: center;
    padding:2px;
}

.orders .selecting{
    background-color: #2c3e50;
    color:#ffffff ;
    padding: 5px;
    border-radius: 6px;
    
}
.current{
    background-color: #000000;
}

.contain{
   margin:30px;
   
}

.contain a{
    padding:10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 8px 15px #000000;
    border:1px solid #000000;
    display: block;
    width:20%;
    margin:auto;
    
}
.container2{
    margin:20px;
}
.container2 .win-btn{
    background-color: #0984e3;
    padding: 10px;
    font-size:15px;
    color: #ffffff;
    text-align: center;
    border:1px solid #000000;
    display: block;
    width:20%;
    margin:auto;
}

.box-container table tr td, th{
    padding:10px;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    box-shadow: 0 0 10px 3px #000000;
}

.messages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 370px);
   justify-content: center;
   gap:15px;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.messages .box-container .box{
   background-color: #ffffff;
   padding:20px;
   border:5px solid #000000;
   box-shadow: 0 0 30px 20px rgba(0,0,0,.1);
   border-radius: 36px;
}

.messages .box-container .box p{
   padding-bottom: 15px;
   font-size: 20px;
   color:#000000;
   line-height: 15px;
}

.messages .box-container .box p span{
   color:rgb(45, 155, 43);
   ;
}

.messages .box-container .box .option-btn{
   margin-top: 0;
   background-color:rgb(45, 155, 43);

}

.messages .box-container .box input[type='text']{
   border:2px solid gray;
   padding:5px 2px;
   border-radius:5px;

}

